---
import Layout from '@/layouts/Layout.astro'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const docs = await getCollection('blog')
  return docs.map((blog) => ({
    params: { blog: blog.slug },
    props: { blog }
  }))
}

const { blog } = Astro.props
const { data } = blog
const { description, title } = data

const { Content } = await render(blog)
---

<Layout title={title} description={description}>
  <div class='prose max-w-full px-2 md:pl-28 dark:prose-invert py-6'>
    <h1 class='text-3xl font-bold text-foreground'>{title}</h1>
    <Content />
  </div>
</Layout>
