---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title='angelMarcos | Desarollador 💻'
	description='Bienvenido a mi portafolio personal donde encontrarás mis proyectos creados en diversas tecnologías web'
>
	<h1>Angel Marcos</h1>
</Layout>

<style></style>
