---
import { buttonVariants } from '@/components/ui/button'
import { cn } from '@/utils'
import {Github} from "lucide-svelte"
---

<section class='py-20'>
  <div class='flex flex-col max-w-[500px] mx-auto'>
    <h1 class="mb-7">
      <span class='block text-xl'>Hola 👋, Soy</span>
      <span class='text-5xl font-bold'>Angel Marcos</span>
    </h1>
    <div class="mb-6">
      <h2 class='text-xl font-bold mb-2'>Desarrollador web - Frontend</h2>
      <p class='text-base'>
        Apasionado por la creación de páginas web, que sean accesible e impactante. Especializado en
        crear experiencias digitales excepcionales.
      </p>
    </div>
    <div class="flex gap-x-4">
      <a class={cn(buttonVariants({ variant: 'outline' }), 'cursor-pointer')}><Github/>Github</a>
      <a class={cn(buttonVariants({ variant: "secondary" }), 'cursor-pointer')}>LinkedIn</a>
    </div>
  </div>
</section>

