---
import Container from './Container.astro'
import Navbar from './Navbar.astro'
import ToggleTheme from "@/components/ToggleTheme.astro"
---

<script is:inline>
  const theme = localStorage.getItem('theme') ?? 'dark'
  document.documentElement.classList.add(theme)
</script>

<nav class='sticky top-0 bg-background/70 backdrop-blur-lg '>
  <Container>
    <div class='flex py-2 justify-between items-center'>
      <a href=''>AM</a>
      <Navbar />
      <ToggleTheme />
    </div>
  </Container>
</nav>
