---
import Container from './Container.astro'
import Navbar from './Navbar.astro'
import ToggleTheme from './ToggleTheme.astro';

---

<script is:inline>
  const theme = localStorage.getItem('theme') ?? 'dark'
  document.documentElement.classList.add(theme)
</script>

<nav class='sticky top-0 dark:bg-slate-800 bg-green-50  z-50 backdrop-blur-3xl'>
  <Container>
    <div class='flex py-5 justify-between'>
      <Navbar />
      <ToggleTheme />
    </div>
  </Container>
</nav>
