---
import { routes } from '@/config/listRoutes'
---

<ul class='flex flex-row gap-8 text-base'>
  {
    routes.map((route) => {
      return (
        <li>
          <a href={route.path}>{route.name}</a>
        </li>
      )
    })
  }
</ul>
