---
import Button from '@/components/Button.astro'
import type { ProyectI } from '@/config/projectData'

interface Props extends ProyectI {}

const { demoLink, description, image, repoLink, tecnologias, title } = Astro.props
---

<article class='w-full min-h-[300px] flex gap-28 items'>
  <div class='lg:flex-1'>
    <h2 class='text-xl mb-4'>{title}</h2>
    <p class='mb-5'>
      {description}
    </p>
    <p class="mb-8">
      <span class='font-bold'>Tecnologias:</span> {tecnologias}
    </p>
    <div class='gap-6 flex'>
      <Button text='Ver demo' variant='primary' />
      <Button text='Ver Repositorio' variant='secondary' />
    </div>
  </div>
  <div class='lg:flex-1'>
    <img
      class='w-full h-full object-cover'
      loading='lazy'
      fetchpriority='low'
      src={image}
      alt=''
    />
  </div>
</article>

<style>
  .items:nth-child(odd) {
    flex-direction: row-reverse;
  }
  img {
    filter: saturate(0.7);
  }
</style>
