---
interface Props {
  title: string
}
const { title } = Astro.props
---

<h2 class='text-3xl font-bold'>
  {title}
</h2>

<style>
  h2 {
    width: max-content;
    padding: ;
    position: relative;
    margin-bottom: 2rem;
  }
  h2::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 70%;
    height: 3px;
    border-radius: 10px;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
  }
</style>
