---
import { cn } from '@/utils'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'h2'> {
  title: string
}
const { title, ...rest } = Astro.props
---

<h2 class={cn('text-3xl font-bold text-foreground mb-7', rest.class)} {...rest}>
  {title}
</h2>

<style>
  h2 {
    width: max-content;
    padding:;
    position: relative;
  }
  h2::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 70%;
    height: 3px;
    border-radius: 10px;
    background: #0545bd;
    background: -webkit-linear-gradient(to right, #0545bd, transparent);
    background: linear-gradient(to right, #0545bd, transparent);
  }
</style>
