---
export interface Props {
	title: string
	description: string
  frontmatter: {
    title: string
    description: string
  }
}

const { title, description, frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={frontmatter?.description ?? description} />
		<meta name='viewport' content='width=device-width' />
		<title>{frontmatter?.title ?? title}</title>
	</head>
	<body class='bg-slate-900'>
		<slot />
	</body>
</html>
