---
import Navbar from '../components/Navbar.astro'
import ToggleTheme from '../components/ToggleTheme.astro'
import Container from '../components/Container.astro'
export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<title>{title}</title>
	</head>
	<body class='bg-green-50 dark:bg-slate-900 relative dark:text-slate-100'>
		<script is:inline>
			const theme = localStorage.getItem('theme') ?? 'light'
			document.documentElement.classList.add(theme)
		</script>

		<nav class='bg-slate-800/5 dark:bg-slate-50/5 z-50'>
			<Container>
				<div class='flex py-5 justify-between'>
					<Navbar />
					<ToggleTheme />
				</div>
			</Container>
		</nav>
		<Container>
			<slot />
		</Container>
	</body>
</html>

<style>
	nav {
		background-color: #ffffff05;
		backdrop-filter: blur(20px);
		position: sticky;
		top: 0;
	}
	body::after {
		position: absolute;
		content: '';
		width: 400px;
		height: 400px;
		background-image: linear-gradient(to right top, #05193754, #004d7a3b, #00879353, #00bf7351, #a6eb123a);
		top: 0;
		right: 0;
		z-index: -1;
		filter: blur(100px);
	}
</style>
