---
import Header from '../components/Header.astro'
import Container from '../components/Container.astro'
import '@/styles/base.css';
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='es' >
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <link rel='icon' type='image/x-icon' href='favicon.ico' />

    <meta name='viewport' content='width=device-width' />
    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground">
    <Header />
    <Container>
      <slot />
    </Container>
  </body>
</html>

<style is:global>
  
</style>
